@media screen and (max-width: 1700px) {
    .slider-container {gap: 0;}
    .slider-content {scale: 0.85;}
    .header-buttons span svg {scale: 0.8;}
    .menu-button {scale: 0.8;}
    .logo img {scale: 0.8;}
}

@media screen and (max-width: 1400px) {
    /* .slider-container {scale: 0.9;} */
    .slider-content {transform: translate(-80px, 0); scale: 0.75;}
    .slider-right {transform: translate(40px, 0px);}
    .slider-nav {scale: 0.8; justify-content: space-around;}
}

@media screen and (max-width: 1260px) {
    .slider-nav {scale: 0.65; transform: translate(-30px, 0px);}
    .slider-content {scale: 0.6; transform: translate(-220px, 0px);}
    .header-buttons span {width: 20px;}
    .header-buttons span svg {scale: 0.7;}
    .menu-button {scale: 0.7;}
    .logo img {scale: 0.7;}
}

@media screen and (max-width: 992px) {
    body {padding: 10px 20px 30px;}
}

@media screen and (max-width: 768px) {
    body::after {left: unset; right: unset; width: 100vh; height: 100vh; margin: auto; bottom: -60vh;}
    .header-left {width: 100%;}
    .header-right {display: none;}
    .logo a {transform: none;}
    .menu-button {scale: 1;}
    .logo img {scale: 1;}
    .slider-container {flex-direction: column; padding-top: 40px;}
    .slider-nav {width: 100%; flex-direction: row; scale: 1; transform: none;}
    .slider-content {width: 100%; height: 100%; scale: 1; transform: none; flex-direction: column; gap: 80px;}
    .slider-left {scale: 0.5; margin-top: 80px;}
    .slider-right {width: 100%; transform: none;}
    .product {top: 0; left: 0; right: 0; margin: auto; width: 420px; max-width: 100%; text-align: center; display: inline-block;}
    .product-description h2 {font-size: 50px; margin: 0 0 1rem;}
    .product-description h3 {font-size: 26px; margin: 0 0 1rem;}
    .slider-arrow svg path {fill: #c1c1c1;}
    .menu {width: 100%;}
}

@media  screen and (max-width: 600px) {
    .slider-nav-item img {max-width: 100px;}
    .slider-nav-item::before {width: 68px; height: 68px;}
    .slider-nav-item:hover::after {width: 68px; height: 68px;}
    .slider-arrow svg {width: 50px;}
    .product-description h2 {font-size: 40px;}
    .product-description h3 {font-size: 20px;}
    .product-description p {font-size: 16px;}
    .product-description button {font-size: 16px; padding: 1rem 2rem;}
}

@media  screen and (max-width: 500px) {
    .slider-container {padding-top: 40px;}
}

@media  screen and (max-width: 400px) {
    body {min-width: 400px; overflow-y: scroll;}
}